@import "tailwindcss";
@import './base.css';

/* Кастомные настройки */
@theme {
  --font-capture-it: 'Capture-it', cursive;
  --font-ABeeZee: 'ABeeZee', sans-serif;
  --font-Caprasimo: 'Caprasimo', cursive;

  /* Добавляем кастомный брейкпоинт 3xl */
  --breakpoint-3xl: 1920px;
}

/* Чистые классы шрифтов */
.font-stalker {
  font-family: 'Capture-it', cursive;
}

.font-basic {
  font-family: 'ABeeZee', sans-serif;
}

.font-Caprasimo {
  font-family: 'Caprasimo', cursive;
}

.text-white-normal {
  color: white;
  line-height: 1;
  overflow-wrap: break-word;
}

.hover-opacity {
  transition: opacity 0.3s ease;
}

.hover-opacity:hover {
  opacity: 0.8;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Стили для блока иконок */
.icon-size {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 640px) {
  .icon-size {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 768px) {
  .icon-size {
    width: 4rem;
    height: 4rem;
  }
}

@media (min-width: 1024px) {
  .icon-size {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 1280px) {
  .icon-size {
    width: 121px;
    height: 121px;
  }
}

/* Дополнительный брейкпоинт для 1920px */
@media (min-width: 1600px) {
  .text-3xl-30 {
    font-size: 30px;
  }
}

/* Для мобильных устройств */
@media (max-width: 768px) {
  .bg-cover-mobile {
    background-size: cover;
    background-position: center center;
  }
}

html {
  scroll-behavior: smooth;
}
